.chat_box{
	position:fixed;
	right:20px;
	bottom:0px;
	width:250px;
}
.chat_body{
	background:white;
	height:400px;
	padding:5px 0px;
	overflow-y: auto;
	display: block;
}

.chat_head,.msg_head{
	background:#f39c12;
	color:white;
	padding:15px;
	font-weight:bold;
	cursor:pointer;
	border-radius:5px 5px 0px 0px;
}

.msg_box{
	position:fixed;
	bottom:-5px;
	width:250px;
	background:white;
	border-radius:5px 5px 0px 0px;
}

.msg_head{
	background:#3498db;
}

.msg_body{
	background:white;
	height:200px;
	font-size:12px;
	padding:15px;
	overflow:auto;
	overflow-x: hidden;
	position: relative;
}
.msg_input{
	border: 0;
  display: block;
  margin: 0;
  min-height: 16px;
  outline: none;
  padding: 0;
  resize: none;
  width: 100%;
}

.close{
	float:right;
	cursor:pointer;
	width: 45px;
	height: 25px;
	text-align: center;
	position: relative;
	left: 15px;
}
.minimize{
	float:right;
	cursor:pointer;
	padding-right:5px;

}

.user{
	position:relative;
	padding:10px 30px;
}
.user:hover{
	background:#f8f8f8;
	cursor:pointer;
}
.status-online:before {
    content:'';
	position:absolute;
	background:#2ecc71;
	height:10px;
	width:10px;
	left:10px;
	top:15px;
	border-radius:6px;
}
.status-offline:before {
    content:'';
	position:absolute;
	background:#D51616;
	height:10px;
	width:10px;
	left:10px;
	top:15px;
	border-radius:6px;
}

.msg_a{
	position:relative;
	background:#FDE4CE;
	padding:10px;
	min-height:10px;
	margin-bottom:5px;
	margin-right:10px;
	border-radius:5px;
}
.msg_a:before{
	content:"";
	position:absolute;
	width:0px;
	height:0px;
	border: 10px solid;
	border-color: transparent #FDE4CE transparent transparent;
	left:-20px;
	top:7px;
}


.msg_b{
	background:#EEF2E7;
	padding:10px;
	min-height:15px;
	margin-bottom:5px;
	position:relative;
	margin-left:10px;
	border-radius:5px;
}
.msg_b:after{
	content:"";
	position:absolute;
	width:0px;
	height:0px;
	border: 10px solid;
	border-color: transparent transparent transparent #EEF2E7;
	right:-20px;
	top:7px;
}
.msg_typing{
	padding:10px;
	min-height:15px;
	margin-bottom:5px;
	position:relative;
	margin-left:10px;
	color: #ccc;
	position: absolute;
	bottom: 0;
	width: 75%;
	text-align: right;
}

.inbox {
	background: none repeat scroll 0 0 #ccc;
    border-radius: 6px;
    color: #fff;
    content: "";
    height: 10px;
    padding: 5px;
    width: 10px;
}

.msg_footer:before {
	background-color: #fff;
	border-color: #b2b2b2;
	border-style: solid;
	border-width: 0 1px;
	bottom: -1px;
	content: '';
	height: 1px;
	margin-left: -1px;
	position: absolute;
	width: 63%;
}

.msg_footer:after {
	background-color: rgba(0, 0, 0, .1);
	content: '';
	height: 1px;
	position: absolute;
	top: -1px;
	width: 100%;
}

.msg_input_holder {
	padding: 10px 8px 6px;
	border-top: 1px solid #c9d0da;
	cursor: text;
	max-height: 77px;
	min-height: 16px;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
}

.msg_input_options {
	bottom: 1px;
	position: absolute;
	right: 0;
	width: 100%;
}
.msg_input_options .option {
	height: 25px;
	font-size: 20px;
	padding: 10px;
	float: left;
}
.msg_input_options .option a {
	color: #B5B5B5;
}
.msg_input_options .option a:hover {
	color: #989898;
}

.upload-zone {
	background: white;
  height: 200px;
  font-size: 12px;
  padding: 15px;
  overflow: auto;
  overflow-x: hidden;
  position: relative;
	display: none;
}
.upload-zone div {
	text-align: center;
	position: relative;
	top: 50%;
	font-size: 20px;
	font-weight: bold;
}

.smiley_tooltip:before {
	display: block;
	position: absolute;
	content: '';
	width: 7px;
	height: 7px;
	right: 14px;
	bottom: -5px;
	background: inherit;
	border-bottom: inherit;
	border-right: inherit;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.smiley_tooltip {
	display: none;
	position: absolute;
	width: 200px;
	background: #fff;
	border: 1px solid #d5d5d5;
	padding: 12px 10px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	bottom: 80%;
	right: 213px;
	z-index: 100;
	margin-bottom: 10px;
	box-shadow: 0 1px 2px rgba(0,0,0,0, .06);
	cursor: default;
}

.smiley_tooltip .emoticon {
	display: inline-block;
	padding: 5px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	margin-left: 0px;
}
